<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Project Branded Things</title>
  </head>
  <body>
    <nav class="section__container nav__container">
      <a href="#" class="nav__logo">ATARAXIA.</a>
      <ul class="nav__links">
        <li class="link"><a href="#">HOME</a></li>
        <li class="link"><a href="#">SHOP</a></li>
        <li class="link"><a href="#">OUR PRODUCT</a></li>
        <li class="link"><a href="#">CONTACT US</a></li>
      </ul>
      <div class="nav__icons">
        <span><i class="ri-shield-user-line"></i></span>
        <span><i class="ri-search-line"></i></span>
        <span><i class="ri-shopping-bag-2-line"></i></span>
      </div>
    </nav>
    <header>
        <div class="section__container header__container">
          <div class="header__content">
            <p>GRAB FAST YOUR KIT NOW</p>
            <h1>Discover & Shop<br />The Trend</h1>
            <button class="btn">SHOP NOW</button>
          </div>
          <div class="header__image">
            <img src="img/new-card-5.webp" alt="header" />
          </div>
        </div>
      </header>
      <section class="section__container collection__container">
        <img src="img/men-collection.png" alt="collection" />
        <div class="collection__content">
          <h2 class="section__title">New Collection</h2>
          <p>#35 ITEMS</p>
          <h4>Available on Store</h4>
          <button class="btn">SHOP NOW</button>
        </div>
      </section>
      <section class="section__container sale__container">
        <h2 class="section__title">On Sale</h2>
        <div class="sale__grid">
          <div class="sale__card">
            <img src="img/new-card-1.webp" alt="sale" />
            <div class="sale__content">
              <p class="sale__subtitle">MAN WEAR</p>
              <h4 class="sale__title">sale <span>60%</span> off</h4>
              <p class="sale__subtitle">- DON'T MISS -</p>
              <button class="btn sale__btn">SHOP NOW</button>
            </div>
          </div>
          <div class="sale__card">
            <img src="img/new-card-4.webp" alt="sale" />
            <div class="sale__content">
              <p class="sale__subtitle">MAN PANTS</p>
              <h4 class="sale__title">sale <span>35%</span> off</h4>
              <p class="sale__subtitle">- DON'T MISS -</p>
              <button class="btn sale__btn">SHOP NOW</button>
            </div>
          </div>
          <div class="sale__card">
            <img src="img/new-card-8.webp" alt="sale" />
            <div class="sale__content">
              <p class="sale__subtitle">WOMAN DRESS</p>
              <h4 class="sale__title">sale <span>20%</span> off</h4>
              <p class="sale__subtitle">- DON'T MISS -</p>
              <button class="btn sale__btn">SHOP NOW</button>
            </div>
          </div>
        </div>
      </section>
  
      <section class="section__container musthave__container">
        <h2 class="section__title">Must Have</h2>
        <div class="musthave__nav">
          <a href="#">ALL</a>
          <a href="#">MAN</a>
          <a href="#">WOMEN</a>
          <a href="#">BAG</a>
          <a href="#">SHOES</a>
        </div>
        <div class="musthave__grid">
          <div class="musthave__card">
            <img src="img/champion-0295-3858563-3.webp" alt="must have" />
            <h4>Basic short sleeve T-shirt</h4>
            <p><del>$112.00</del> $75.00</p>
          </div>
          <div class="musthave__card">
            <img src="img/new-card-2.webp" alt="must have" />
            <h4>Ribbed longsleeve with buttons</h4>
            <p><del>$130.00</del> $75.00</p>
          </div>
          <div class="musthave__card">
            <img src="img/new-card-6.webp" alt="must have" />
            <h4>Pinky sandals</h4>
            <p><del>$150.00</del> $75.00</p>
          </div>
          <div class="musthave__card">
            <img src="img/new-card-9.webp" alt="must have" />
            <h4>High-cap tubular</h4>
            <p><del>$90.00</del> $45.00</p>
          </div>
          <div class="musthave__card">
            <img src="img/new-card-7.webp" alt="must have" />
            <h4>Coral fabric green drees</h4>
            <p><del>$100.00</del> $60.00</p>
          </div>
          <div class="musthave__card">
            <img src="img/new-card-10.webp" alt="must have" />
            <h4>bag with puma logo</h4>
            <p><del>$200.00</del> $75.00</p>
          </div>
          <div class="musthave__card">
            <img src="img/new-card-3.webp" alt="must have" />
            <h4>Standing Human</h4>
            <p><del>$85.00</del> $55.00</p>
          </div>
          <div class="musthave__card">
            <img src="img/champion-0297-3858563-4.webp" alt="must have" />
            <h4>Just a sstanding human</h4>
            <p><del>$45.00</del> $25.00</p>
          </div>
        </div>
      </section>
  
      <section class="section__container brands__container">
        <div class="brand__image">
          <img src="" alt="brand" />
        </div>
        <div class="brand__image">
          <img src="" alt="brand" />
        </div>
        <div class="brand__image">
          <img src="" alt="brand" />
        </div>
      </section>
  
      <hr />
  
      <footer class="section__container footer__container">
        <div class="footer__col">
          <h4 class="footer__heading">CONTACT INFO</h4>
          <p>
            <i class="ri-map-pin-2-fill"></i> 666, Medan, Sumatera Utara
          </p>
          <p><i class="ri-mail-fill"></i> mohammadkautsar30@gmail.com</p>
          <p><i class="ri-phone-fill"></i> (+062) 6666 666</p>
        </div>
        <div class="footer__col">
          <h4 class="footer__heading">COMPANY</h4>
          <p>Home</p>
          <p>About Us</p>
          <p>Work With Us</p>
          <p>Our Blog</p>
          <p>Terms & Conditions</p>
        </div>
        <div class="footer__col">
          <h4 class="footer__heading">LINK</h4>
          <p>Help</p>
          <p>Track My Order</p>
          <p>Men</p>
          <p>Women</p>
          <p>Shoes</p>
        </div>
        <div class="footer__col">
          <h4 class="footer__heading">INSTAGRAM</h4>
          <div class="instagram__grid">
            <img src="assets/instagram-1.jpg" alt="instagram" />
            <img src="assets/instagram-2.jpg" alt="instagram" />
          </div>
        </div>
      </footer>
  
  </body>
</html>
